.App {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1rem 0 0 1rem;
}
.UserAvatar {
  display: flex;
  width: 80%;
  justify-content: center;
  margin: 10px 0 0 0;
}
